<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <style>
        body{
        background-color:green;
        }
            p{
            text-align:center;
            color:red;
            font-size:100px;
            }
    </style>
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/news/">Новости города</a>
        <a href="/management/">Руководство города</a>
        <a href="/facts/">Факты о городе</a>
        <a href="/contacts/">Контактные телефоны</a>
        <a href="/history/">История</a>
    </nav>
<h1>Контакты</h1>
<p>Здесь вы можете ознакомиться с контактами.</p>
</body>
</html>