<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <style>
        body{
        background-color:grey;
        }
        h1{
        text-align:center;
        color:red
        }
    </style>
</head>
<body>
 <h1>Добро пожаловать в наш город!</h1>
    <nav>
        <a href="/">Главная</a>
        <a href="/news/">Новости города</a>
        <a href="/management/">Руководство города</a>
        <a href="/facts/">Факты о городе</a>
        <a href="/contacts/">Контактные телефоны</a>
        <a href="/history/">История</a>
    </nav>
</body>
</html>